body{
  background-color: #e0ffaf;
  font-family: Arial, Helvetica, sans-serif;
  height: 750px;
}
#circle{
  width: 100px;
  height: 100px;
  background-color: green;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all 3s ease;
}
#buffer{
  width: 100px;
  height: 100px;
  background-color: blue;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transition: all 3s ease;
}
#step1{
  padding: 50px;
}
.hidden {
  display: none;
}
.clickable:hover {
  cursor: pointer;
}
