body{
  background-color: #e0ffaf;
  font-family: Arial, Helvetica, sans-serif;
  height: 750px;
}
h1{
    padding: 50px;
}
#circle{
  width: 100px;
  height: 100px;
  background-color: green;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all 3s ease;
}
#buffer{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transition: all 3s ease;
}

#step2, #step3, #step6{
  display: none;
}

#step4{
  display: none;
  margin-top: 65%;
}

#step5{
  display: none;
  margin-top: 65%;
}

.hidden {
  display: none;
}
.clickable:hover {
  cursor: pointer;
}
